{% extends "::base.html.twig" %}
{% block content %}
<div class="container">
    <div class="row">
        <h1>Livraisons</h1>
        <hr />

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h2>Ajouter une nouvelle adresse</h2>
            {{ form_start(form, {'method': 'post', 'action': path('ecommerce_basket_delivery'), 'attr': {'id':'basket-delivery-form','class': 'form-horizontal'}}) }}
            {{ form_start(form) }}
            {# Notice : form-control by js -> ecomMain.js #}
            {{ form_widget(form) }}
            <p class="text-right">
                <input class="btn btn-primary" type="submit" value="Ajouter" />
            </p>
            {{ form_end(form) }}
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <form action="{{ path('ecommerce_basket_validation') }}" method="post">
                <div class="delivery-addresses-bloc">
                    <h3>Adresses de livraisons</h3>
                    {% if currentUser.useraddresses|length == 0 %}
                        <p class="alert alert-info">Vous n'avez pas encore enregistré d'adresse de <b>livraison</b>. Merci de compléter le formulaire ci-contre.</p>
                    {% else %}
                    {% for address in currentUser.useraddresses %}
                    <div class="radio">
                        <label>
                            <b>{{ address.firstname }}&nbsp;{{ address.lastname|upper }}</b><br />
                            <input type="radio" name="delivery_address" id="{{ address.id }}" value="{{ address.id }}" {% if loop.index0 == 0 %}checked{% endif %} />
                            {{ address.address }} - {{ address.postcode }}&nbsp;{{ address.city }}<br />{{ address.country }}
                            <a href="{{ path( 'ecommerce_basket_delivery_delete_address', { 'id': address.id }) }}">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </label>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div><!-- END .delivery-addresses-bloc -->
                <div class="delivery-bills-bloc">
                    <h3>Adresses de facturations</h3>
                    {% if currentUser.useraddresses|length == 0 %}
                        <p class="alert alert-info">Vous n'avez pas encore enregistré d'adresse de <b>facturation</b>. Merci de compléter le formulaire ci-contre.</p>
                    {% else %}
                        {% for address in currentUser.useraddresses %}
                            <div class="radio">
                                <label>
                                    <input type="radio" name="billing_address" id="{{ address.id }}" value="{{ address.id }}" {% if loop.index0 == 0 %}checked{% endif %} />
                                    {{ address.address }} - {{ address.postcode }}&nbsp;{{ address.city }}<br />{{ address.country }}
                                    <a href="{{ path( 'ecommerce_basket_delivery_delete_address', { 'id': address.id }) }}">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </a>
                                </label>
                            </div>
                        {% endfor %}
                        <p class="text-left">
                            <button class="btn btn-primary" type="submit">Valider mes adresses de livraison et de facturation</button>
                        </p>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}