{% trans_default_domain 'FOSUserBundle' %}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            {{ include("UserBundle:Includes/ModulesLeft:user_bloc_dashboard_nav.html.twig") }}
            {{ include("UserBundle:Includes/ModulesLeft:user_bloc_dashboard_basket.html.twig") }}
        </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="row">
                    <h1>Mes informations personnelles</h1>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        <p class="text-center"> Ici ma photo ou mon avatar</p>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="fos_user_user_show">
                            <p><b>{{ 'profile.show.username'|trans }}: </b>{{ user.username }}</p>
                            <p><b>{{ 'profile.show.email'|trans }}:</b> {{ user.email }}</p>
                            <p class="text-right">
                                <a class="btn btn-info" href="{{ path('fos_user_profile_edit') }}">Modifier mes informations</a>
                            </p>
                        </div>
                    </div>

                </div>



            </div>

    </div>
</div>