{% extends '::baseAdmin.html.twig' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <h1>{{ product.name }}</h1>
            <p class="text-right"><a class="btn btn-default" href="{{ path('admin_product_index') }}"><i class="glyphicon glyphicon-menu-left"></i><i class="glyphicon glyphicon-menu-left"></i>&nbsp;&nbsp;{{ "Retour à la lise"|trans }}</a></p>
            <p class="text-right"><a class="btn btn-primary" href="{{ path('admin_product_edit', { 'id': product.id }) }}"><i class="glyphicon glyphicon-pencil"></i>&nbsp;&nbsp;{{ "Éditer le produit : "~product.name|trans|capitalize }}</a></p>
            <div class="text-right">
                {{ form_start(delete_form) }}
                <button class="btn btn-danger" type="submit">
                    <i class="glyphicon glyphicon-trash"></i>&nbsp;&nbsp;{{ 'Supprimer le produit : '~(product.name|trans)|capitalize }}
                </button>
                {{ form_end(delete_form) }}
            </div>
            <p>&nbsp;</p>
            <table class="table table-responsive">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ product.id }}</td>
                    </tr>
                    <tr>
                        <th>Createdat</th>
                        <td>{% if product.createdat %}{{ product.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Updatedat</th>
                        <td>{% if product.updatedat %}{{ product.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Code</th>
                        <td>{{ product.code }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ product.name|capitalize }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ product.description|raw }}</td>
                    </tr>
                    <tr>
                        <th>Price</th>
                        <td>{{ product.price }} €</td>
                    </tr>
                    <tr>
                        <th>Availability</th>
                        <td>{% if product.availability %}Yes{% else %}No{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Isonline</th>
                        <td>{% if product.isonline %}Yes{% else %}No{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Category</th>
                        <td>{{ product.category }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
{% endblock %}
