<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="keywords" content="{% block keywords %}{% endblock %}" />
        <meta name="description" content="{% block description %}{% endblock %}" />
        <title>{% block title %}E-commerce Test Platform{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('/vendor/bootstrap/dist/css/bootstrap.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('/assets/styles/css/style.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('/assets/styles/css/responsive.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            {% if is_granted('ROLE_ADMIN') %}
                <a id="btn-goadmin" class="btn btn-primary" href="{{ path('ecommerce_admin_homepage') }}" target="_blank">{{ "Aller dans l\'administration"|trans }}</a>
            {% endif %}
            {% block header %}
                <header class="container-fluid">
                {% block nav %}
                    {% include 'includes/navbarmenu.html.twig' %}
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                {% if app.request.hasPreviousSession %}
                                    {% for type, messages in app.session.flashbag.all() %}
                                        {% for message in messages %}
                                            <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <b>{{ message }}</b>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                    </div>
                {% endblock %}<!-- END nav -->
                </header>
            {% endblock %}<!-- END header -->
            {% block content %}{% endblock %}<!-- END content -->
            {% block footer %}
                <hr />
                <footer class="container-fluid">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h1> {{ "Informations"|trans }}</h1>
                                {{ render( controller( 'PagesBundle:Page:Menu' ) ) }}
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h1> {{ "Notre entrepôt"|trans }}</h1>
                                <p><span class="glyphicon glyphicon-map-marker"></span> {{ address }}</p>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h1> {{ "Nous contacter"|trans }}</h1>
                                <p><span class="glyphicon glyphicon-earphone"></span> {{ phone }}</p>
                                <p><span class="glyphicon glyphicon-inbox"></span><a href="mailto:{{ email }}"> {{ email }}</a></p>
                            </div>
                        </div>
                        <p class="text-center">
                            <em>Copyright tuto opensource ;-) {{ "now"|date('Y') }} - All rights reserved for everybody</em>
                        </p>
                    </div>
                </footer>
            {% endblock %}
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('/vendor/jquery/dist/jquery.js') }}"></script>
            <script src="{{ asset('/vendor/bootstrap/dist/js/bootstrap.js') }}"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
            <script src="{{ asset('/assets/js/ecomMain.js') }}"></script>
        {% endblock %}
    </body>
</html>
