<div class="well">
    <ul class="nav nav-pills nav-stacked">
        <li><a href="{{ path('user_homepage') }}">Mon dashboard</a></li>
        <li><a href="#">Mes factures</a></li>
        <li><a href="#">Mes adresse</a></li>
        <li><a href="{{ path('fos_user_profile_show') }}">Mes informations</a></li>
        <li><a href="{{ path('fos_user_profile_edit') }}">Modifier mes informations</a></li>
        <li><a href="{{ path('fos_user_change_password') }}">Changer mon mot de passe</a></li>
        <li><a href="{{ path('fos_user_security_logout') }}" class="text-danger">Déconnexion</a></li>
    </ul>
</div>