{% extends '::base.html.twig' %}
{% block content %}
    <div class="container">
        <div class="row">
            <p class="text-right"><a href="{{ path('ecommerce_product_list') }}"><b>&lt;&lt;&nbsp;Retour à la liste des produits</b></a></p>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <img class="img-responsive center-block" src="{{ product.image.path }}" alt="{{ product.image.alt }}" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h1>{{ product.name|capitalize }}<br/><small>Ref.: {{ product.code }}</small></h1>
                <div class="item-description-bloc">
                    <h3>Item description : </h3>
                    <p>{{ product.description|raw }}</p>
                </div>
                <p class="text-right"><span class="item-price label label-info">{{ product.price }} €</span></p>
                <div class="item-qty-select-bloc">
                    <select title="Quantity" class="item-qty-select form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </select><!-- END item-qty-select -->
                </div><!-- END item-qty-select-bloc -->
                <p class="text-right">
                    <a class="btn btn-primary" href="{{ path('ecommerce_basket') }}">Add to basket</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}