{% extends '::base.html.twig' %}

{% block keywords %}{{ product.name }}{% endblock %}
{% block description %}{{ product.description }}{% endblock %}
{% block title %}{{ product.name }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <p class="text-right"><a href="{{ path('ecommerce_product_list') }}"><b>&lt;&lt;&nbsp;Retour à la liste des produits</b></a></p>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <img class="img-responsive center-block" src="{{ product.image.path }}" alt="{{ product.image.alt }}" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h1>{{ product.name|capitalize }}<br/><small>Ref.: {{ product.code }}</small></h1>
                <div class="item-description-bloc">
                    <h3>Item description : </h3>
                    <p>{{ product.description|raw }}</p>
                </div>
                <p class="text-right"> <small>Prix tvac : </small><span class="item-price label label-info">{{ product.price|addvat(product.vat.multiplicate) }} €</span></p>
                <div class="">
                    <form class="form-horizontal" action="{{ path('ecommerce_basket_add_product', { 'id':product.id }) }}" method="get">
                        <select title="Quantity" class="item-qty-select-bloc form-control" name="qty">
                            {% for i in 1..10 %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select><!-- END item-qty-select -->

                        <p class="text-right">
                            {%  if prodsInBasket[product.id] is not defined %}
                            <button class="btn btn-success" >Add to basket</button>
                            {% else %}
                                <span class="text-info"><b>Notice :</b> This product is already in your basket </span><a class="btn btn-primary" href="{{ path('ecommerce_basket') }}">View my basket</a>
                        {% endif %}
                        </p>
                    </form>

                </div>

            </div>
        </div>
    </div>
{% endblock %}