

{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}


<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <h3><b>Pas encore inscrit ?</b></h3>
    <p><i>Nous vous invitons à vous inscrire<br /> pour bénéficier de nos fruits et légumes de saison !</i></p>
    <p><a class="btn btn-primary" href="{{ path('fos_user_registration_register') }}">S'inscrire</a></p>
</div>

<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        <a class="btn btn-danger" href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
    {% else %}
        {#<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>#}

        <form action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}

            <div class="form-group">
                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
            </div>
            <div class="form-group">
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input class="form-control" type="password" id="password" name="_password" required="required" />
            </div>

            <div class="checkbox">
                <label for="remember_me">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />{{ 'security.login.remember_me'|trans }}
                </label>
            </div>
            <p><input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" /></p>
        </form>



    {% endif %}

    {#{% if app.request.hasPreviousSession %}#}
        {#{% for type, messages in app.session.flashbag.all() %}#}
            {#{% for message in messages %}#}
                {#<div class="flash-{{ type }}">#}
                    {#{{ message }}#}
                {#</div>#}
            {#{% endfor %}#}
        {#{% endfor %}#}
    {#{% endif %}#}
</div>