<nav class="navbar navbar-inverse navbar-fixed-top ">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('ecommerce_admin_homepage') }}">La Belle Saison</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#"><i class="glyphicon glyphicon-cog"></i>&nbsp;Configuration <span class="sr-only">(current)</span></a></li>
                <li><a href="#"><i class="glyphicon glyphicon-retweet"></i>&nbsp;API</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-file"></i>&nbsp;Pages <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('pageAdmin_index') }}">Liste</a></li>
                        <li><a href="{{ path('pageAdmin_new') }}">Ajouter</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-user"></i>&nbsp;Clients <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('admin_user_index') }}">Liste</a></li>
                        <li><a href="{{ path('admin_user_new') }}">Ajouter</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-th"></i>&nbsp;Produits <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('admin_product_index') }}">Liste des produits</a></li>
                        <li><a href="{{ path('admin_product_new') }}">Ajouter un produit</a></li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <div class="text-left"><i class="glyphicon glyphicon-th"></i>&nbsp;<b>Catégories de produits</b></div>
                        </li>
                        <li><a href="{{ path('admin_category_index') }}">&gt;&nbsp;Liste des catégories</a></li>
                        <li><a href="{{ path('admin_category_new') }}">&gt;&nbsp;Ajouter une catégorie</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-shopping-cart"></i>&nbsp;Commandes <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('admin_order_index') }}">Liste</a></li>
                        <li><a href="{{ path('admin_order_new') }}">Ajouter</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div><!-- END .container -->
</nav>