{% extends '::base.html.twig' %}
{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h1>Bienvenue sur la platefofrme test e-commerce</h1>
                <p>Visitez le site et téléchargez les sources pour voir comment la plateforme est construite avec Symfony 3.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                {{ render( controller('EcommerceBundle:Basket:basketBlocNav') ) }}
            {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                {{ render( controller('UserBundle:User:userNonConnectedMenuBlocNav') ) }}
            {% else %}
                {{ render( controller('UserBundle:User:userDashboardMenuBlocNav') ) }}
            {% endif %}
                {{ render( controller('EcommerceBundle:Home:catalogueMenuBlocNav') ) }}
            </div>
            <div class="col-xs-6 col-sm-9 col-md-9 col-lg-9">
                <div class="row">
                    {% for product in products %}
                        {{ include("EcommerceBundle:Includes:product-block.html.twig") }}
                    {% endfor %}
                </div>
            </div>
        </div><!-- END .row -->
    </div><!-- END .container -->
{% endblock %}