{% extends '::baseAdmin.html.twig' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
        <h1>{{ 'Liste des pages dans la corbeille'|trans }}</h1>
            <p class="text-right"><a class="btn btn-default" href="{{ path('pageAdmin_index') }}"><i class="glyphicon glyphicon-menu-left"></i><i class="glyphicon glyphicon-menu-left"></i>&nbsp;&nbsp;{{ "Retour à la lise"|trans }}</a></p>
            {% if pages|length > 0 %}
                <table class="table table-responsive">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Created at</th>
                        <th>Updated at</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for page in pages %}
                        <tr>
                            <td>{{ page.id }}</td>
                            <td><h4>{{ page.title }}</h4></td>
                            <td>{{ page.status }}</td>
                            <td>{% if page.createdat %}{{ page.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>{% if page.updatedat %}{{ page.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td align="right">
                                <a class="btn btn-info" href="{{ path('pageAdmin_restore', { 'id': page.id }) }}">
                                    <i class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;{{ "Restaurer cette page"|trans }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p class="alert alert-info">{{ "Il n'y a pas de page dans la corbeille"|trans }}</p>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}
