{% extends '::baseAdmin.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h1>{{ 'Liste des commandes de : '|trans }}<em>{{ user.username }}</em></h1>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Réf</th>
                            <th>Date</th>
                            <th>Montant TTC</th>
                            <th align="center">Download</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in user.userorders %}
                            <tr>
                                <td>{{ order.orderfullref }}</td>
                                <td>{{ order.date|date('d/m/y') }}</td>
                                <td>{{ order.orderdetailsgrouped.total_incl_vat|replace( { ".":"," } ) }} €</td>
                                <td align="left" style="padding-left: 20px;">
                                    <a href="{{ path('admin_order_show_pdf', { 'id':order.id }) }}" target="_blank"><i class="glyphicon glyphicon-download"></i></a>
                                </td>


                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
            </div>
        </div>
    </div>

{% endblock %}
